/* --------------------------------------------
                Google fonts
--------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* --------------------------------------------
                Common Styles
--------------------------------------------- */
body {
    max-width: 1240px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 52px;
}

.anchor-tag {
    text-decoration: none;
    color: white;
    padding: 16px 25px;
    background: #DD0000;
    border-radius: 5px;
}

.hidden-tag {
    display: none;
    text-decoration: none;
    color: white;
    padding: 16px 25px;
    background: #DD0000;
    border-radius: 5px;
}

/* --------------------------------------------
                Banner Section
--------------------------------------------- */

.banner-section {
    background-color: #161616;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 4%;
    border-radius: 30px;
}

.banner-image img {
    padding-top: 4%;
    align-items: center;
    width: 555px;
    height: 613px;
}

.banner-info {
    padding-top: 10%;
    padding-left: 5%;
}

.banner-info p {
    animation: flip 5s 3 4s;
    padding-bottom: 10px;
}

/* animation */
@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}


/* --------------------------------------------
                Events Section
--------------------------------------------- */
main {
    display: flex;

}

.event-section {
    margin: 4% 5%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.event-button {
    margin: 5%;
    background-color: white;
    color: black;
    border: 2px solid #DD0000;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.event-section a.active,
.event-section a :hover {
    background-color: #DD0000;
    color: white;
}

/* --------------------------------------------
                blogs Section
--------------------------------------------- */

.transfer-blog {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 5%;
    text-align: center;
}

.blog-thumblain img {
    width: 100%;
    height: 175px;

}

.blog p {
    font-size: 16px;
    font-weight: 700;
}

.blog {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    justify-items: center;
    padding: 0 0 15px 0;
}

.see-more {

    text-align: center;
    justify-items: center;
    width: 100px;
    height: 30px;
    background-color: #E8E8E8;
    border: 1px solid #161616;
}

.see-more a {
    font-weight: 900;
    color: #161616;
    text-decoration: none;
}

footer {
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
    background: #161616;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer a {
    margin-top: 60px;
    justify-content: space-between;
    padding: 40px;
    text-decoration: none;
    color: white;
}


.fa-brands {
    padding: 40px;
}

/* Upcoming Match */
/* --------------------------------------------
               Upcoming Section
--------------------------------------------- */

.upcoming-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.upcoming-match {
    margin: 5%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E8E8;
    border-radius: 10px
}

.upcoming-blog-thumblain {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.upcoming-blog-thumblain img {
    width: 100%;
    padding: 20px;
}

.upcoming-blog-info {
    text-align: center;
}

/* --------------------------------------------
                Mobile devices
--------------------------------------------- */


@media screen and (max-width: 688px) {

    .banner-section,
    main,
    .transfer-blog,
    .upcoming-blog,
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .banner-section h1 {
        font-size: 22px;
    }

    .banner-section p {
        font-size: 16px;
        font-weight: 100;
    }

    .banner-image img {
        padding-top: 4%;
        align-items: center;
        width: 233px;
        height: 245px;
    }

    .event-section {
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 4%;
        justify-content: center;
        align-items: center;
    }

    .blog-thumblain img {
        width: 312px;
        height: 175px;
    }

    .see-more {
        margin-left: 37%;
        margin-bottom: 10px;
    }

    .hidden-tag {
        display: block;
        margin: 20px;
    }

    footer a {
        padding: 0px;
    }

    hr {
        display: none;
    }
}

/* --------------------------------------------
                Tab devices
--------------------------------------------- */

@media screen and (min-width: 689px) and (max-width: 991px) {
    .banner-section {
        width: 734px;
        height: 398px;
        background-color: #161616;
        color: white;
        display: flex;
        justify-content: space-around;
        margin-top: 2%;
        margin-left: 7%;
        margin-right: 4%;
        border-radius: 30px;
    }

    .banner-section h1 {
        font-size: 22px;
    }


    .banner-image img {
        padding-top: 15%;
        align-items: center;
        width: 323px;
        height: 340px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .event-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: white;
        text-align: center;
        height: auto;
        width: auto;
        margin: 0;
    }

    .transfer-blog,
    .upcoming-blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .transfer-blog {
        margin: 0;
    }

    .see-more {
        margin-left: 37%;
        margin-bottom: 10px;
    }

    .blog-thumblain img {
        width: 312px;
        height: 175px;
    }

    .hidden-tag {
        display: block;
        margin: 20px;

        right: 0;
        text-align: center;
        width: 20%;
        background-color: firebrick;
        color: white;
    }

    footer a {
        padding: 10px;
    }
}